name: Renovate

on:
  schedule:
    - cron: "0 6-22 * * 1-5"
    - cron: "0 12-23 * * 0,6"
  push:
    branches:
      - 'main'
  issues:
    types:
      - edited
  workflow_dispatch:
    inputs:
      repo:
        description: Repo to run this action for
        type: string
        required: true

concurrency:
  group: ${{ inputs.repo || 'renovate' }}
  cancel-in-progress: true

jobs:
  renovate:
    name: Renovate
    runs-on: ubuntu-latest
    steps:
      - name: Generate App Token for Renovate
        uses: actions/create-github-app-token@7e473efe3cb98aa54f8d4bac15400b15fad77d94 # v2.2.0
        id: app-token
        with:
          app-id: ${{ secrets.RENOVATE_BOT_CLIENT_ID }}
          private-key: ${{ secrets.RENOVATE_BOT_PRIVATE_KEY }}
          owner: ${{ github.repository_owner }}
          repositories: ${{ inputs.repo || secrets.RENOVATE_REPOSITORIES }}
      - name: Renovate
        uses: WyriHaximus/github-action-renovatebot@d866c155f22e206eedfaf548840c06536ac3d08a # v0.5.3
        with:
          renovateAppToken: ${{ steps.app-token.outputs.token }}
